html {
    --blush: ##EFDCCB;
    --dark-green: #494F41;
    --mint: #C5D4C4;
    --orange: #D2925F;
    --white: #F8F3EB;
}

body {
    background-color: #494F41;
    font-family: 'PT Sans', sans-serif;
}

.cup {
    width: 45%;
}

.mint-header1 {
    padding-left: 4rem;
}

.mint-header2 {
    padding-left: 4rem;
}

.name {
    color: #EFDCCB;
    font-size: 50px;
    font-weight: bolder;
}

.intro {
    color: #F8F3EB;
    font-size: 28px;
}

.hours {
    color: #EFDCCB;
    font-size: 28px;
    font-weight: bolder;
}