html {
   --blush: #EFDCCB;
   --dark-green: #494F41;
   --mint: #C5D4C4;
   --orange: #D2925F;
   --white: #F8F3EB;
}
  
body {
   background-color: #494F41;
   font-family: 'PT Sans', sans-serif;
}

.intro-text {
   position: absolute;
   margin-bottom: 4.6em;
   bottom: 20px;
   right: 20px;
   background-color: #494F41;
   padding-left: 20px;
   padding-right: 20px;
}

.intro {
   color:#F8F3EB;
   position:relative;
}

.cup {
   display:block;
}

.title {
   color: #EFDCCB;
   left:300px;
   padding-bottom: .5em;
}

.info {
   left:300px;
}

.hours {
   color: #EFDCCB;
   font-weight: 700;
   left:300px;
  
}

.main {
   color: #C5D4C4;
   font-weight: lighter;
   font-size: 30px;
   margin-top: .5em;
   position: relative;
   text-align: left;
}

h3  {

}
/* menu columns */
.drinks {
   color:#EFDCCB;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 150px;
}

.drinks span {
   background: #fff;
   margin: 0 15px;

}
.drinks:after {
   background:#EFDCCB;
   height: 40px;
   flex: 1;
   content: '';
   border-radius: 100px 0 0 100px;
   margin-left:70px;
}
.drinks.left:after {
   background: none;
}

.menu {
   color:#F8F3EB;
   gap: 1rem;
   font-size: 50px;
   padding-bottom: 35px;
   padding-left: 150px;
}


.column {
   color:#F8F3EB;
   float: left;
   width: 50%;
   padding: 1em 0;
   padding-left: 150px;
}

.milk {
   padding-top: 0;
}


.row {
   padding-top: 20px;
   padding-bottom: 20px;
}

.directions {
   margin-top: 0;
}

.row:after {
   content: "";
   display: table;
   clear: both;

}

.all-drinks {
   color:#EFDCCB;
   padding-bottom: 25px;
   
}

.paninis,
.other-food,
.espresso,
.milk-sub {
   color:#EFDCCB;
   padding-bottom: 25px;
}

.sizes {
   color: #C5D4C4;
   font-weight: bold;
   padding-bottom: 25px;
   padding-left: 40px;
}

.price {
   color: #C5D4C4;
   font-weight: bold;
   padding-left: 40px;
}


/* location columns*/

.address {
   margin-top: 0;
   padding-top: 35px;
   margin-left: 0;
   margin-bottom: 0;
}

.location {
   color:#C5D4C4;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-right: 165px;
}
 

.location span {
   background: #fff;
   margin: 0 15px;
}

.location:before {
   background:#C5D4C4;
   height: 40px;
   flex: 1;
   content: '';
   border-radius: 0px 100px 100px 0;
   margin-right: 70px;
}

.location.left:after {
   background: none;

}

.location-info {
   background-color:#494F41;
   color:#F8F3EB;
}

.map {
   size:100%;
   padding-right: 83px;
   padding-left: 0;
}

/* button for directions */
.button {
   background-color: #C5D4C4;
   border: none;
   color: #494F41;
   visibility: hidden;
   font-family: 'PT Sans', sans-serif;
   text-align: center;
   text-decoration: none;
   transition-duration: 0.3s;
   cursor: pointer;
   display: inline-block;
   font-size: 20px;
   font-weight: 700; 
   margin-bottom: 30px;
   border-radius: 50px;
}

.button:after {
   background:#C5D4C4;
   height: 40px;
   flex: 1;
   content: '';
   border-radius: 0px 100px 100px 0;
   margin-right: 0;
   border-radius: 50px 0px 0px 50px;
}

.button:hover {
   background-color: #D2925F;
   color: #F8F3EB;
}
 
.button2 {
   background-color: #C5D4C4;
   border: none;
   color: #494F41;
   visibility: visible;
   padding: 1px 45px;
   font-family: 'PT Sans', sans-serif;
   text-align: center;
   text-decoration: none;
   transition-duration: 0.3s;
   cursor: pointer;
   display: inline-block;
   font-size: 30px;
   font-weight: 700; 
   margin-left: 150px;
   margin-bottom: 85px;
   border-radius: 50px;
}

.button2:hover {
  background-color: #D2925F;
  color: #F8F3EB;
}



/* .footer {
   background-color: #D2925F;
   color: #F8F3EB;
   font-size: 25px;
   background: #D2925F;
   display: flex;
   align-items: start;
   gap: 1em;
}

.mobile-footer {
   display: none;
}
.fcolumn {
   float: left;
   width: 33.33%;
}

.logo {
   width: 250px;
   margin-left: 150px;
   padding-top: 1.5em;
   padding-bottom: 1em;
}

.desktop-footer:after {
   content: "";
   display: table;
   clear: both;
}

.col {
   color:#F8F3EB;
   flex: 1;
}

.footer ul {
   list-style: none;
}

.social-media {
   display: flex;
   gap: 0.5em;
   padding: 0.5em 0;
}
 
.form-title {
   color: #f8f3eb;
}
 
.social-media {
   flex-direction: column;
}
 
.social-media-list {
   display: flex;
   gap: 0.5rem;
}
 
.social-media-list a {
   padding: 0.5em;
   color: #f8f3eb;
   display: flex;
   border-radius: 0.3em;
   transition: all 0.25s ease 0s;

}
.social-media-list a:hover,
.social-media-list a:focus {
   color: #f8f3eb;
   background: #494F41;
}

.social-media-list svg {
   width: 1.875em;
   height: 1.875em;
   transition: all 0.25s ease 0s;
} 
 
.col-title {
   color: #f8f3eb;
   font-size: 25px;
}
 
.col-list a {
   color: #f8f3eb;
   text-decoration: none;
   margin-left: 0;
}

.col-list a:hover,
.col-list a:focus {
   text-decoration: underline;
} */

/* 
.footer {
   background-color: #D2925F;
   color: #F8F3EB;
   font-size: 25px;
   background: #D2925F;
   display: flex;
   align-items: start;
   gap: 1em;
}

.footer-col a {
   color: #F8F3EB;
 }
 
 .content {
   height: 80vh;
   background: #ccc;
 }
 
 .footer-content-wrapper {
   width: 80%;
   margin: 1em auto;  
 }
 
 .footer-col {
   display: inline-block;
   padding: 0.5em 0.1em 0.5em 1em;
   box-sizing: border-box;
  
 }
 .footer-col:nth-child(4) {
   border: none;
 }
 
 .ta-l {
   text-align: left;
 }
 .flt {
   float: left;
 }
 
 .flt:nth-child(4):after {
    content: " "; 
    visibility: hidden; 
    display: block; 
    height: 1em; 
    clear: both;
 }
 
 .large-25 {
   width: 25%;
 }
 
 .footer-col a {
   display: block;
   margin: 0.3em 0;
 }
  */
 
.desktop-footer {
   background-color: #D2925F;
}

footer section.container {
   margin: auto;
   padding-top: 2rem;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.logo {
   width: 250px;
   margin-left: 150px;
   padding-bottom: 1em;
}

footer .logo img:hover {
   cursor: pointer;
}

footer .links {
   display: flex;
   flex-wrap: wrap;
   flex-grow: 2;
   justify-content: space-evenly;
}

footer .links ul li {
   padding: .5rem;
}

footer .links ul li:hover {
   cursor: pointer;
}

footer .links ul .heading:hover {
   cursor: text;
}

footer .social {
   flex-grow: 1;
   
}

footer .social ul {
   display: flex;
   justify-content: center;
}

footer .social ul li {
   width: 4.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer .social ul li:hover {
   cursor: pointer;
}

footer .location {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   font-size: 1.2rem;
}

.heading {
   font-size: 25px;
}

.contact {
   color: #f8f3eb;
   font-size: 25px;
   margin-right: 100px;
}

.handle {
   color: #f8f3eb;
   font-size: 25px;

}

















@media screen and (max-width: 768px) {
   

   .button {
      border-radius: 50px 0px 0px 50px;
      margin-right: 0;
      padding: 5px 30px;
      visibility: visible;
   }

   .button:after {
      background:#C5D4C4;
      height: 40px;
      flex: 1;
      content: '';
   }

   .button2 {
      visibility: hidden;
   }

   .column {
      width: 100%;
      padding-left: 70px;
   }


   .desktop-footer {
      display: none;
   }

   div.column {
      font-size: 20pt;
   }
  
   .drinks {
      padding-left: 70px;
      font-size: 20pt;
   }

   .drinks:after {
      height:20px;
      padding-left: 40px;
   }

   .location {
      padding-right: 55px;
      font-size: 20pt;
   }

   .location:before {
      height: 20px;
   }


   .main {
      font-size: 20px;
   }

   .map {
      padding-right: 35px;
      padding-left: 40px;
   }

   .menu {
      padding-left: 70px;
      font-size: 25pt;
   }
   .mobile-footer {
      display: contents;
   }

   .ofood {
      padding-top: 0;
   }

   .row {
      padding-top: 10px;
      padding-bottom: 10px;
   }



}


/* @media screen and (min-width: 375px) {
   div.column {
      font-size: 30px;
   }

   .drinks:after {
      height: 21px;
   }

   h3.drinks {
      font-size: 60px;
   }

   h2.menu {
      font-size: 30px;
   }

   .logo {
      margin-left: 4rem;
      margin-top: 1rem;
      width:40vw;
   }

   .main {
      font-size: 40px;
   }
  } */

 