P {
    color:black;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 2rem;

}

.back-button {
    padding-bottom: 2rem;
}

.list-nav ul li::after {
    background: var(--yellow);
    display: block;
    content: "";
    height: 3px;
    margin: auto;
    transition: 0.5s;
    width: 0%;
}

li {
    list-style-type: none;

}

a:link {
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color:#8ecae6;;
    text-decoration: none;
}

a:active {
    text-decoration: none;
  
}

.container {
    display: flex;
    width: 100vw;
    height: 100vw;
}

.square-1 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 71.428571vw;
    height: 71.428571vw;
    margin: auto;
}

.square-2 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 42.857143vw;
    height: 42.857143vw;
    margin: auto;
}

.square-3 {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 14.285714vw;
    height: 14.285714vw;
    margin: auto;
}

.square-4 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 71.428571vw;
    height: 71.428571vw;
    margin: auto;
}

.square-5 {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 42.857143vw;
    height: 42.857143vw;
    margin: auto;
}

.square-6 {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 14.285714vw;
    height: 14.285714vw;
    margin: auto;
}