html {
    --green: #274F3F;
    --cream: #FEFAF6;
    --brown: #C7BBAC;
 }
  
body {
    color:#FEFAF6;
	background-color: #274F3F;
	transition: 1s ease;
    font-family: "le-monde-livre-std", sans-serif;
    font-weight: 600;
    font-style: normal;
    min-height: 100vh;
	font-style: normal;
	margin-left: 30px;
	margin-top: 20px;
	transition: #274f3f 1s ease;
}



.program-book {
	font-size: 3vw;
	font-family: "le-monde-livre-std", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 0.8;
	text-align: center;
	margin-top: 3rem;
}

.footer-header {
	font-family: "le-monde-livre-std";
	font-weight: 500;
	font-size: 14px;
	padding-top: 350px;
}
.copyright {
	font-size: 12px;
}

.footer-header2 {
	display: none;
}
.copyright2 {
	display: none;
}

*::after,
*::before {
	box-sizing: border-box;
}



.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.demo-kidnap {
	transition: background-color 0.3s, opacity 0.3s;
} 

.js body.render {
	opacity: 1;
}


@keyframes loaderAnim {
	0% {
		box-shadow: 20px 0 0 var(--color-text), -20px 0 0 transparent;
		background: transparent;
	}
	50% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 transparent;
		background: var(--color-text);
	}
	100% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 var(--color-text);
		background: transparent;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}



main {
	position: relative;
    width: 100%;
}



.content {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	overflow: hidden;
	min-height: 650px;
	margin: 0 auto;
}

.content--fixed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	z-index: 100;
	align-content: space-between;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 	"header tagline"
							"deco tagline"
							"deco demos";
}

.content--layout {
	grid-template-columns: 100%;
	padding: 3em 0;
}

.content--fixed a {
	pointer-events: auto;
}




.codrops-header__tagline,
.deco {
	grid-area: tagline;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: start;
	justify-self: end;
	margin: 0;
	padding: 0.85em 0;
}

.codrops-header__tagline {
	padding: 0.65em 0;
}

.deco {
	grid-area: deco;
	align-self: end;
	justify-self: start;
	padding: 0;
	transform: rotate(180deg);
}

.demos {
	grid-area: demos;
	text-align: center;
	display: block;
	position: relative;
}

.demo {
	margin: 0 0.15em;
}

.demo span {
	text-transform: lowercase;
	font-weight: bold;
	pointer-events: none;
	white-space: nowrap;
}

.demo span::before {
	content: '#';
}

a.demo--current {
	text-decoration: underline;
	pointer-events: none;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	margin: 0 1em 0 0;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

/* bouncing name */
.word {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.word--magneto {
	font-size: 10vw;
	font-family: 'ivymode', sans-serif;
	font-weight: 600;
	color: #FEFAF6;
	line-height: 0.8;
	margin: 0 0 0 0;
	letter-spacing: 1vw;
}

.word--magneto > span {
	display: block;
	cursor: default;
	margin-top: 0em;
	position: relative;
}

.word--magneto span span {
	display: block;
	pointer-events: none;
}

.word--magneto svg {
	position: absolute;
	left: 50%;
	margin-left: -1.5vw;
	width: 3vw;
	bottom: calc(100%);
}

.word--magneto svg circle {
	fill: #C7BBAC;
	opacity: 0;
	transform-origin: 50% 50%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--cream);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    left: 200px;
    margin-top: 30px;
    
}

  
.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: var(--green);
    display: block;
    transition: 0.3s;
    align-items: left;
}
  
.overlay a:hover, .overlay a:focus {
    color: var(--brown);
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (min-width: 50em) {
	.demos {
		align-self: end;
		justify-self: end;
		display: flex;
	}
	
	.demo {
		display: block;
		border: 2px solid;
		width: 12px;
		height: 12px;
		border-radius: 2px;
		margin: 0 10px 0 0;
	}
	a.demo--current {
		background: currentColor;
	}
	.demo span {
		position: absolute;
		display: none;
		right: 100%;
		top: -0.35em;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 50em) {
	
	.content {
		height: auto;
		min-height: 0;
		margin-bottom: 0;
	}
	.content--layout {
		overflow: visible;
		margin-bottom: 0;
	}
	.demo-magneto .content--layout {
		padding: 1em 0 0 0;
	}
	.content--fixed {
		display: block;
		z-index: 1000;
		position: relative;
		padding: 0.85em;
		margin-bottom: 0;
	}

	.deco {
		display: none;
	}

	.word.word--magneto {
		margin-top: 3em;
		font-size: 3em;
	}

	.program-book {
		margin-top: 1.5em;
	}
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

@media screen and (min-width: 768px) {
	.footer {
		padding: 2rem;
	}
	.footer-header2 {
	display: contents;
	font-family: "le-monde-livre-std";
	font-weight: 500;
	font-size: 20px; 
	padding:2rem;
	}
	.footer-header {
		display: none;
	}

	.copyright {
	font-size: 16px;
	}

	.copyright2 {
		display: contents;
		font-size: 16px;
	}
}
