html {
    --green: #274F3F;
    --cream: #FEFAF6;
    --brown: #C7BBAC;
 }
  
body {
    background-color: #FEFAF6;
    color:#274F3F;
    font-weight: 600;
    font-family: 'ivymode', sans-serif;
    font-weight: 600;
    font-style: normal;
    height: 1265.94px;
}



.name {
    margin-top: 5rem;
    padding: 2rem;
}

.welcome {
    padding: 2rem;

}

.welcome-p {
    font-family: "le-monde-livre-std";
}

.about {
    padding:2rem;
}

.about-p {
    font-family: "le-monde-livre-std";
}

.footer {
    font-family: "le-monde-livre-std";
    padding:2rem;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--cream);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    left: 200px;
    margin-top: 30px;
    
  }

  
.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: var(--green);
    display: block;
    transition: 0.3s;
    align-items: left;
  }
  
.overlay a:hover, .overlay a:focus {
    color: var(--brown);
  }
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    
  }
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }



